@import './modules/base.scss';

/* CSS Document */
*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

.fl {
  float: left
}

.fr {
  float: right
}

.al {
  text-align: left
}

.ac {
  text-align: center
}

.ar {
  text-align: right
}

.hide {
  display: none
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}


/*公共部分*/

header {
  height: 178px;
}
header .top_header {
  height: 37px;
  background-color: #000;
  border-bottom: 1px solid #999999;
}
header nav {
  height: 141px;
}
section {
  overflow: hidden;
}
footer {
  height: 177px;
  background-color: #eeeeee;
}

header .in_header {
  width: 1211px;
  height: 100%;
  margin: 0 auto;
}
header .in_header .top_left {
  width: 150px;
  height: 37px;
  color: white;
  line-height: 37px;
  padding-left: 55px;
  background: url("../images/fn_03.jpg") no-repeat 25px 9px;
}

header .in_header .top_right {
  width: 188px;
  height: 37px;
  display: flex;
  margin-right: 56px;
  line-height: 37px;
  justify-content: space-between;
}
header .in_header .top_right a {
  color: white;
  flex: 1;
}
header .in_header .top_right a:nth-child(3) {
  text-align: right;
  background: url("../images/fn_05.jpg") no-repeat 60px 10px;
}

header nav .in_nav {
  width: 1211px;
  height: 100%;
  margin: 0 auto;
}
header nav .in_nav .bottom_nav .left_nav {
  width: 740px;
  height: 44px;
  margin-left: 31px;
  margin-top: 14px;
}
header nav .in_nav .bottom_nav .left_nav ul {
  display: flex;
  justify-content: space-around;
  line-height: 44px;
}
header nav .in_nav .bottom_nav .left_nav ul li {
  height: 44px;
}
header nav .in_nav .bottom_nav .left_nav ul li a {
  color: #000;
  display: inline-block;
}
header nav .in_nav .bottom_nav .search {
  margin-right: 87px;
  margin-top: 20px;
}
header nav .in_nav .bottom_nav .search input {
  height: 26px;
  width: 198px;
  border: 1px solid #e0e0e0;
  padding-left: 8px;
  background: url("../images/serach_03.jpg") no-repeat 177px 5px;
}


section .banner {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
section .banner ul {
  position: absolute;
  left: 0;
  top: 0;
}
section .banner ul li {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
section .banner>a {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  height: 40px;
  line-height: 32px;
  text-align: center;
  width: 40px;
  font-size: 100px;
  vertical-align: middle;
  color: #000;
  z-index:60;
}
section .banner #goNext {
  right: 0;
}
section .banner #goPrev {
  left: 0;
}
section .in_section {
  width: 1211px;
  margin: 0 auto;
}
section .in_section .products {
  width: 1211px;
}
section .in_section .products .show_prod{
  width: 100%;
  height: 316px;
  padding-top: 56px;
  padding-bottom: 57px;
  border-bottom: 1px solid #5c5c5c;
}
section .in_section .products .new_prod {
  width: 100%;
  height: 550px;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #5c5c5c;
}
section .in_section .products .show_prod ul {
  display: flex;
  justify-content: space-between;
}
section .in_section .products .show_prod ul li {
  width: 279px;
  height: 315px;
}
section .in_section .products .show_prod ul li p:nth-child(2) {
  display: block;
  height: 38px;
  line-height: 38px;
  font-size: 19px;
}
section .in_section .products .show_prod ul li p:nth-child(2) a {
  color: black;
}
section .in_section .products .show_prod ul li .addBtn {
  display: block;
  width: 142px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #b38082;
  border-bottom: none;
  background-color: #670205;
  color: #fff;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
}

section .in_section .products .new_prod .ac {
  height: 42px;
  line-height: 42px;
  padding-bottom: 6px;
}
section .in_section .products .new_prod ul {
  display: flex;
  justify-content: space-between;
}
section .in_section .products .new_prod ul li {
  width: 279px;
  height: 420px;
}
section .in_section .products .new_prod ul li p:nth-child(1) {
  width: 279px;
  height: 263px;
  display: block;
  font-size: 16px;
}
section .in_section .products .new_prod ul li p:nth-child(2) {
  display: block;
  height: 38px;
  line-height: 38px;
}
section .in_section .products .new_prod ul li p:nth-child(2) a {
  color: black;
}
section .in_section .products .new_prod ul li p:nth-child(3) {
  display: block;
  margin-top: 15px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
}
section .in_section .products .new_prod ul li p:nth-child(4) {
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
}
section .in_section .products .new_prod ul li .addBtn {
  display: block;
  width: 142px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #b38082;
  border-bottom: none;
  background-color: #670205;
  color: #fff;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
}
section .in_section .new_news {
  width: 100%;
  height: 770px;
}
section .in_section .new_news p {
  line-height: 36px;
  height: 36px;
  margin-bottom: 10px;
}
section .in_section .new_news a img {
  width: 1000px;
  height: 720px;
  margin: 0 auto;
}

footer .in_footer {
  width: 1211px;
  margin: 0 auto;
}
footer .in_footer .top_footer {
  height: 86px;
}
footer .in_footer .top_footer .left {
  margin-top: 45px;
  margin-left: 140px;
}
footer .in_footer .top_footer ul {
  width: 430px;
  height: 13px;
}
footer .in_footer .top_footer ul li {
  float: left;
  padding: 0 8px;
  height: 13px;
  line-height: 13px;
  border-right: 1px solid #666666;
}
footer .in_footer .top_footer ul li a {
  color: #666666;
}
footer .in_footer .top_footer .right {
  margin-top: 45px;
  margin-right: 140px;
}
footer .in_footer .bottom_footer .web_info {
  margin-left: 147px;
}
footer .in_footer .bottom_footer .web_info>a {
  color: #0563c3;
}
footer .in_footer .bottom_footer .web_info .des {
  margin-bottom: 3px;
}
footer .in_footer .bottom_footer .web_info .beian {
  margin-top: 3px;
}
footer .in_footer .bottom_footer .web_info .beian a {
  color: #939393;
}

.backTop {
  position: fixed;
  right: 0;
  z-index: 9999;
  top: 50%;
  width: 65px;
  height: 320px;
  display: none;
}
.backTop ul {
  display: block;
  box-shadow: -2px 2px 10px #ccc;
}
.backTop li {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  background: #fff;
  position: relative;
}
.backTop ul .call {
  height: 74px;
  padding: 0 10px;
}
.backTop ul .call span {
  display: block;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  width: 44px;
  border-bottom: 1px solid #999999;
}
.backTop ul .us {
  height: 74px;
}
.backTop ul .us span {
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;
  display: block;
  width: 44px;
}
.backTop ul li:nth-child(3) {
  line-height: 40px;
  background: #d00813;
}
.backTop ul li:nth-child(3) p {
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;
  display: block;
  width: 44px;
  color: #fff;
  line-height: 20px;
}
.backTop ul .to_top {
  background: #000000;
  padding: 25px 0;
  cursor: pointer;
}
.backTop ul .to_top img {
  display: inline-block;
  height: 8px;
  width: 20px;
  vertical-align: middle;
}